{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}

{{if 'group_list' in globals():}}
<h4>{{=T('Welcome to the groups page')}}</h4>
<button class="btn btn-primary" data-toggle="collapse" data-target="#create-group">
	<i class="icon-plus icon-white"></i> Create new group <span class="caret"></span>
</button>
<div id="create-group" class="collapse">
	<div class="alert alert-block alert-info fade in">
		<button class="alert close" data-toggle="collapse" data-target="#create-group">
			&times;
		</button>
		{{=LOAD('groups', 'group_create', ajax=True)}}
	</div>
</div>

{{=search_form}}

{{if search_result[0]:}}
<div id="search-results" class="open">
	<div class="alert alert-block alert-success fade in">
		<a class="close" data-dismiss="alert" href="#search-results">&times;</a>

		{{for group in search_result[0]:}}
		<table>
			<tbody>
				<tr>
					<h4>{{=A(group.group_name, _href=URL('','group/d/'+group.group_name, ' '))}}</h4>
				</tr>
				<tr>
					<td><strong>{{=T('Description')}}:</strong></td>
					<td>{{=group.group_desc}}</td>
				</tr>
				<tr>
					<td><strong>{{=T('Facebook URL:')}}</strong></td>
					<td>{{=group.group_facebook}}</td>
				</tr>
				<tr>
					<td><strong>{{=T('Tags:')}}</strong></td>
					<td>{{=group.group_tags}}</td>
				</tr>
			</tbody>
		</table>
		{{pass}}
	</div>
</div>

{{elif search_result[1]:}}
<div id="search-results" class="open">
	<div class="alert alert-block alert-error fade in">
		<a class="close" data-dismiss="alert" href="#search-results">&times;</a>
		{{=T('No results were found matching your query.')}}
	</div>
</div>
{{pass}}

{{for i, group in enumerate(group_list):}}
{{if i==items_per_page: break}}
<table>
	<tbody>
		<tr>
			<h4>{{=A(group.group_name, _href=URL('','group/d/'+group.group_name, ' '))}}</h4>
		</tr>
		<tr>
			<td><strong>{{=T('Description')}}:</strong></td>
			<td>{{=group.group_desc}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Facebook URL:')}}</strong></td>
			<td>{{=group.group_facebook}}</td>
		</tr>
		<tr>
			<td><strong>{{=T('Tags:')}}</strong></td>
			<td>{{=group.group_tags}}</td>
		</tr>
	</tbody>
</table>
{{=A(T('Edit'), _href=URL('','group/d', group.group_name+'/edit'), _class='btn btn-mini',_style='margin-bottom: 1em;')}}
<br>
{{pass}}

{{if page:}}
<a href="{{=URL(args=[page-1])}}">previous</a>
{{pass}}

{{if len(group_list)>items_per_page:}}
<a href="{{=URL(args=[page+1])}}">next</a>
{{pass}}

{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

