<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{=response.meta.title or response.title or request.application}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Landing page,Subscribe">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Styles -->
		<link href="{{=URL('static','css/bootstrap.min.css')}}" rel='stylesheet' type='text/css'>
		<link href="{{=URL('static','css/bootstrap-responsive.min.css')}}" rel='stylesheet' type='text/css'>
		<link href="{{=URL('static','css/font-awesome.css')}}" rel='stylesheet' type='text/css'>
		<link href="{{=URL('static','css/style-responsive-blue.css')}}" rel='stylesheet' type='text/css'>

		<!-- Google Web Font-->
		<link href='//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
		<script type="text/javascript"  src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{=URL('static','js/bootstrap.min.js')}}"></script>
		<!--[if IE 7]>
		<link rel="stylesheet" href="/MUTS/static/css/font-awesome-ie7.css">
		<![endif]-->
		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- fav icons -->
		<link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}">
		<style type="text/css">
			.get_started:before {
				position: relative;
				content: "Get started now";
				top: -13px;
				left: -20px;
				padding: 3px 7px;
				font-size: 12px;
				font-weight: bold;
				background-color: #f5f5f5;
				border: 1px solid #ddd;
				color: #333;
				font-size: 20px;
				font-family: 'Droid Sans', serif;
				font-color: black;
				-webkit-border-radius: 4px 0 4px 0;
				-moz-border-radius: 4px 0 4px 0;
				border-radius: 4px 0 4px 0;
			}
			.well {
				max-width: 420px;
				margin: 0 auto 10px;
				background-color: #E8E8E8;
				padding-right: 35px;
			}
			.error {
				background-color: red;
				color: white;
			}
			.center {
				text-align: center;
			}
			.center form {
				display: inline-block;
			}
			form {
				margin: 0 0 1px;
				display: block;
			}
			ul, ol {
				margin: 0;
				padding: 0;
			}
		</style>

		<script type='text/javascript'>
			//<![CDATA[

			$(document).ready(function() {
				$(".nav-tabs li a").click(function() {
					var li = $(this).parent("li");
					var wch = this.getAttribute("href");
					$(li).addClass("active");
					//make current li active
					$(li).siblings("li").removeClass("active");
					//make others inactive
					$(".tab-content div").removeClass("active");
					//make all tabs inactive first
					$(wch).addClass("active");
					//activate our tab;
					return false;
					//don't change URL
				});
			});

			//]]>

		</script>
		{{block head}} {{end}}
		{{
		left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
		right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
		middle_columns = {0:'span12',1:'span9',2:'span6'}[
		(left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)
		]
		}}
	</head>
	<body>
		<header>

			{{
			if response.flash:
			if 'errors' in response.flash:}}
			<div class="alert alert-block alert-error fade in">
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				<p>
					{{=response.flash}}
				</p>
			</div>
			{{else:}}
			<div class="alert alert-block fade in">
				<button type="button" class="close" data-dismiss="alert">
					&times;
				</button>
				<p>
					{{=response.flash}}
				</p>
			</div>
			{{pass}}
			{{pass}}
			<div class="container">
				{{
				=P(navbar2, _class='navbar-search pull-right')
				}}
			</div>
		</header>

		<div class="container">
			<div class="row" style="margin-top:5px">
				<div class="span12 pagination-centered">
					<h1><a href={{=URL()}}>{{=response.meta.title or request.application}}</a></h1>
					<h3>{{=response.meta.description}}</h3>
				</div>
			</div>

			{{if 'above_feature' in globals():}}
			<section class="span12">
				<div class="row">
					{{block above_feature_area}}
					{{end}}
				</div>
			</section>
			{{pass}}

			{{if auth.is_logged_in():}}
			<section class="span12" style="margin-bottom: 10px;">
				<div class="row">
					<div class="span3">
						<a href="{{=URL('events', 'index')}}" class="btn btn-large btn-info">Events</a>
						<a href="{{=URL('groups', 'index')}}" class="btn btn-large btn-info">Groups</a>
					</div>
					<div class="span3 pull-right">
						{{include 'user/profile.html'}}
					</div>
				</div><!--/row-->
			</section><!--/main-->
			{{pass}}

			{{if not auth.is_logged_in():}}
			{{if 'auth_form_disabled' not in globals():}}
			<div class="container">
				<div class="row">
					<div class="span4 offset5">
						{{if request.args(0)=='login':}}
						{{include 'user/login.html'}}
						{{else:}}
						{{include 'user/register.html'}}
						{{pass}}
					</div>
				</div>
				{{if request.args(0)!='login':}}
				<div class="pagination-centered">
					By signing up you are agreeing to our <a href="/legal/agreement/">terms & conditions</a>
				</div>
				{{pass}}
			</div>
			{{pass}}
			{{pass}}

			{{if 'feature_panel_enabled' in globals():}}
			{{if feature_panel_enabled:}}
			<div class="row-fluid" id="features">
				<div class="span3 divider">
					{{block feature1}} {{end}}
				</div>
				<div class="span3 divider">
					{{block feature2}} {{end}}
				</div>
				<div class="span3 divider">
					{{block feature3}} {{end}}
				</div>
				<div class="span3">
					{{block feature4}} {{end}}
				</div>
			</div>
			{{pass}}
			{{pass}}

			{{if 'body_enabled' in globals():}}
			{{if body_enabled:}}
			<section class="span12">
				<div class="row">
					{{if left_sidebar_enabled:}}
					<div class="span3 left-sidebar">
						{{block left_sidebar}}
						<h3>Left Sidebar</h3>
						<p></p>
						{{end}}
					</div>
					{{pass}}

					<div class="{{=middle_columns}}">
						{{block center}}
						{{include}}
						{{end}}&nbsp;
					</div>
				</div><!--/row-->
			</section><!--/main-->
			{{pass}}
			{{pass}}

			<div id="footer">
				<div class="footericon" style="margin-top: 5px;">
					<a href='https://bitbucket.org/SamuelMarks/giantpicnic'> <img title="Get source" src="{{=URL('static','images/bitbucket_logo.png')}}" alt="Bitbucket"/> </a>
				</div>
				<p>
					&copy;2012 <a href="http://au.linkedin.com/in/samuelmarks">Samuel Marks</a>
				</p>
			</div>
		</div><!-- end container -->

		<!-- For IE 7 and 8 Media Query Support -->
		<script type="text/javascript" src="{{=URL('static','js/respond.js')}}"></script>
		{{block tail}} {{end}}
	</body>

</html>